body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #083d30, #1a6b57, #06aa81);
  }
  
  .container, .containerOculto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .password-container {
    position: relative;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  /* Estilo para el icono de ojo */
  .fa-eye-slash::before {
    content: "\f070"; /* Código Unicode para el icono del ojo con línea de cierre */
  }

  .fa-eye::before {
    content: "\f06e"; /* Código Unicode para el icono del ojo abierto */
  }
  
  button {
    padding: 8px 12px;
    background-color: #229276;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #24bd97;
  }

  #registroExitoso, #mensajeDeRegistroExitoso{
    color:#0e662b;
    font-family:Arial, Helvetica, sans-serif
  }

  #error, #mensajeDeError, #textoDeError{
    color: rgb(168, 5, 5);
    font-family:Arial, Helvetica, sans-serif
  }

